body {
    background: #e9ecef;
    font-family: "Poppins", sans-serif;
}

nav {
    font-weight: 800;
    font-size: 20px;
}

.navbar-brand {
    font-size: 40px;
    color: black;
}

.navbar-brand:hover {
    color: orangered;
}

a {
    color: black!important;
}

a:hover {
    color: orangered!important;
}


.bg-secondary {
    background: #F5F5F5!important;
}

.navbar-toggler {
    background: black!important;
}

button.bg-primary:hover {
    background: orangered!important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: orangered!important;
}

/* Content */
.masthead {
    margin-top: 80px;
    padding-top: 200px;
    background-image: url("media/codebg.jpg");
    background-size: cover;
}

.masthead-heading {
    font-size: 100px;
    color: orangered;
    margin-bottom: 200px!important;
    text-shadow: 2px 2px 5px black;
}

.display-4 {
    text-align: center;
}

/* Image Sizes: 1200x900 */
.col-sm {
    padding: 10px;
}

.card {
    display: inline-block;
}

#my-photo {
    max-width: 50%;
}

.skills {
    list-style: none;
    font-size: 50px;
}

.skill {
    text-shadow: 2px 2px 5px black;
}

#skill-html {
    color: #F16529;
}

#skill-css {
    color: #0096DC;
}

#skill-js {
    color: #F0DB4F;
}

#skill-bs {
    color: #7952b3;
}

#skill-jq {
    color: #0868AB;
}

#current {
    padding-top: 123px;
}

.social-link {
    border: none;
    background: none;
    font-size: 50px;
}

/* Media Queries */

/* Small devices (phones, 320px and up) */
@media (min-width: 320px) {
    a#nav-brand.navbar-brand.js-scroll-trigger {
        font-size: 20px;
    }

    .masthead-heading {
        font-size: 55px;
    }

    #about-me {
        font-size: 20px;
        width: 80%;
        margin-left: 35px;
    }

    .social-link {
        font-size: 40px;
    }

    .card {
        margin-left: 28px;
        margin-bottom: 20px;
    }
}

/* Small-Medium Devices (large phones, 575px and up) */
@media (min-width: 575px) {
    .card {
        display: inline;
    }
}

/* Medium devices (tablets, 760px and up) */
@media (min-width: 760px) {
    .card {
        display: inline;
    }
}
